<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/upload.css') }}">
</head>

<body>
    <h1>Upload File</h1>
    <form action="/upload/" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label><br>
        <input type="file" id="file" name="file"><br>
        <label for="password">Enter encryption password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit" id="upload-btn">Upload</button>
    </form>

    {% if file_id %}
    <p>File uploaded successfully!</p>
    <p>Download link: <a href="{{ request.base_url }}download/{{ file_id }}/" target="_blank">{{
            request.base_url}}download/{{file_id}}/</a></p>
    <button onclick="copyToClipboard()" id="copy-btn">Copy Download Link</button>
    {% endif %}
    <button onclick="redirectToMain()">Page d'accueil</button>

    <script>
        function redirectToMain() {
            window.location.href = "/"; // Rediriger vers la route / de l'API
        }

        function copyToClipboard() {
            var copyText = document.createElement('textarea');
            copyText.value = "{{ request.base_url }}download/{{ file_id }}/";
            document.body.appendChild(copyText);
            copyText.select();
            document.execCommand('copy');
            document.body.removeChild(copyText);
            alert("Download link copied to clipboard!");
        }
    </script>
</body>

</html>